<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            border: 100;
            background-color: black;
        }
        th, td {
            border: 1px solid #ffffff;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        body {
            background-color: #000000;
            color: #a8a8a8;
        }
    </style>
</head>
<body>

<h2>assignments (homework/exams)</h2>

<table>
    <thead>
        <tr>
            <th>type of assignment</th>
            <th>due date</th>
            <th>field of study</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>exam</td>
            <td>last day of summer</td>
            <td>all subjects</td>
        </tr>
        <tr>
            <td>homework</td>
            <td>-</td>
            <td>science</td>
        </tr>
        <tr>
            <td>homework</td>
            <td>-</td>
            <td>math/arabic</td>
        </tr>
    </tbody>
</table>

</body>
</html>
