<style>
    body {
color: firebrick;
background-color: bisque;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: medium;
font-weight: bold;
    }
    h1 {
color: firebrick;
background-color: bisque;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: medium;
font-weight: bold;
    }
    h2 {
color: rgb(4, 0, 255);
background-color: bisque;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: medium;
font-weight: bold;
    }
</style>
<h1><mark>polls will be displayed here</mark></h1>
    <h2>no polls yet</h2>